
.kwl-elements th {
    text-align: center;
    background-color: #ce0606;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 1em 1em 1em 1em !important;
}

.kwl-elements table {
    display: contents;
    padding: 10px;
}

.kwl-elements td {
    padding: 1em 1em 1em 1em !important;
    text-align: center;
}

.kwl-elements .odd td {
    background-color: #000000;
    color: #ffffff;
    border-color: #ccc;
}

.kwl-elements .even td {
    background-color: #ffffff;
    color: #000000;
    border-color: #ccc;
}

.kwl-elements {
    /*text-align: -webkit-center;*/
    text-align: center;
}

.leagues {
    max-width: 1200px !important;
}

.league-title {
    background-color: #ce0606;
    color: white;
    display: inline-block;
    padding: 10px 10px;
}

.league-title a {
    color: white;
    padding: 10px 20px;
}

.league-wrestlers-description {
    margin: 10px;
}

.leagues-wrestler {
    height: 160px;
    background: #5b9bd5;
    border: solid 2px #0b0b0b;
    color: #0b0b0b;
}

.leagues-wrestler img {
    width: 100%;
    height: auto;
}

.league-container {
    margin: 20px auto;
    padding: 20px 0;
}

.wrestlers-row {
    margin-top: 20px;
}

.wrestler-content {
    margin-top: 80px;
}

.wrestler-content .bdt-flip-box {
    height: 410px;
}

.wrestler-content .bdt-flip-box-front {
    /*background: rgba(36, 37, 41, 0.81)*/
}

.wrestler-content .bdt-flip-box-back {
    /*background: rgba(36, 37, 41, 0.81)*/
}

.wrestler-content .bdt-flip-box-layer {
    background: rgba(36, 37, 41, 0.81) center center;
    background-size: cover;
}

.wrestler-content .elementor-element.elementor-element-e84cd2e {
    text-align: left;
}

.wrestler-content .elementor-element.elementor-element-e84cd2e .elementor-image img {
    max-width: 38%;
    opacity: 1;
}

.wrestler-content .elementor-element.elementor-element-49a0d2e > .elementor-container {
    max-width: 1346px;
}

.wrestler-content .elementor-element.elementor-element-349756e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(11px / 2);
}

.wrestler-content .elementor-element.elementor-element-349756e .elementor-icon-list-item {
    font-size: 24px;
}

.wrestler-content .elementor-element.elementor-element-349756e .elementor-icon-list-icon {
    width: 27px;
}

.wrestler-content .elementor-element.elementor-element-349756e .elementor-icon-list-text {
    color: #000000;
    padding-left: 18px;
}

.wrestler-content .elementor-element.elementor-element-349756e .elementor-icon-list-icon i {
    color: #ce0606;
    font-size: 27px;
}

.wrestler-content .elementor-element.elementor-element-0d7262b.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.wrestler-content .elementor-element.elementor-element-0d7262b .elementor-heading-title {
    font-size: 28px;
}

.wrestler-content .elementor-element.elementor-element-0d7262b > .elementor-widget-container {
    padding: 15px 0px 15px 0px;
    background-color: #ce0606;
}

.wrestler-content .elementor-element.elementor-element-0d7262b {
    text-align: center;
}

.wrestler-content .elementor-element.elementor-element-5b5ef0f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 30px 50px 30px;
}

.wrestler-content .elementor-element.elementor-element-5b5ef0f > .elementor-container {
    max-width: 1346px;
}

.wrestler-content .elementor-element.elementor-element-66ac016:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .wrestler-content .elementor-element.elementor-element-66ac016 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url(https://lds.sos4digitalmarketing.com/wp-content/uploads/2019/03/black-background-2.png);
}

.wrestler-content .elementor-element.elementor-element-66ac016 > .elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 30px 30px 30px !important;
}

.wrestler-content .elementor-element.elementor-element-7f1e188.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.wrestler-content .elementor-element.elementor-element-6ee409d .bdt-tablepress table.tablepress {
    border-style: none;
    border-width: 0px;
    border-color: rgba(204, 204, 204, 0);
    color: white;
}

.wrestler-content .elementor-element.elementor-element-6ee409d .bdt-tablepress table.tablepress tr td {
    text-align: left;
}

.wrestler-content .elementor-element.elementor-element-6ee409d .bdt-tablepress .tablepress td {
    border-style: none;
    border-width: 0px;
    padding: 0.5em 1em 0.5em 1em;
}

.wrestler-content .elementor-element.elementor-element-5b5ef0f > .elementor-container {
    max-width: 1346px;
}

.wrestler-content .elementor-element.elementor-element-46d6c3d .bdt-tablepress table.tablepress {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.wrestler-content .elementor-element.elementor-element-46d6c3d .bdt-tablepress .tablepress th {
    text-align: center;
    background-color: #ce0606;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 1em 1em 1em 1em;
}

.wrestler-content .elementor-element.elementor-element-46d6c3d .bdt-tablepress .tablepress .even td {
    background-color: #ffffff;
    color: #000000;
    border-color: #ccc;
}

.wrestler-content .elementor-element.elementor-element-46d6c3d .bdt-tablepress table.tablepress tr td {
    text-align: left;
}

.wrestler-content .elementor-element.elementor-element-46d6c3d .bdt-tablepress .tablepress td {
    border-style: solid;
    border-width: 1px;
    padding: 0.5em 1em 0.5em 1em;
}

.wrestler-content .elementor-element.elementor-element-46d6c3d .bdt-tablepress .tablepress .odd td {
    background-color: #000000;
    color: #ffffff;
    border-color: #ccc;
}

.wrestler-content .elementor-element.elementor-element-46d6c3d .bdt-tablepress table.tablepress tr td {
    text-align: left;
}

.wrestler-content .elementor-element.elementor-element-46d6c3d .bdt-tablepress .tablepress td {
    border-style: solid;
    border-width: 1px;
    padding: 0.5em 1em 0.5em 1em;
}

.btn-trade-wrestler,
.btn-select-wrestler {
    display: flow-root !important;
    margin: 30px auto;
    font-size: 20px !important;
    background: #ce0606;
    color: white;
}

.btn-trade-wrestler {
    margin-top: 40%;
}

.modal {
    /*height: 200px;*/
    position: relative !important;
    padding: 30px 30px;
}

.btn-wrestler-selected {
    font-size: 20px;
    padding: 4px 20px;
    background-color: #ce0606;
    border-radius: 4px;
    color: antiquewhite;
    border: none;
}

#select-wrestler label {
    margin-bottom: 10px;
}

#select-wrestler div {
    margin: 20px;
}

.um-profile-photo {
    margin-top: -100px ;
}

.um-header {
    padding-bottom: 0 ;
    min-height: 60px ;
}

.um .um-field-group-head,
.picker__box,
.picker__nav--prev:hover,
.picker__nav--next:hover,
.um .um-members-pagi span.current,
.um .um-members-pagi span.current:hover,
.um .um-profile-nav-item.active a,
.um .um-profile-nav-item.active a:hover,
.upload,
.um-modal-header,
.um-modal-btn,
.um-modal-btn.disabled,
.um-modal-btn.disabled:hover,
div.uimob800 .um-account-side li a.current,
div.uimob800 .um-account-side li a.current:hover {
    background: #ce0606;
}

.um input[type=submit].um-button, .um input[type=submit].um-button:focus, .um a.um-button, .um a.um-button.um-disabled:hover, .um a.um-button.um-disabled:focus, .um a.um-button.um-disabled:active {
    background: #ce0606;
}

.um input[type="submit"].um-button:hover, .um a.um-button:hover {
    background-color: #ec5153;
}
.um .um-tip:hover, .um .um-field-radio.active:not(.um-field-radio-state-disabled) i, .um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i, .um .um-member-name a:hover, .um .um-member-more a:hover, .um .um-member-less a:hover, .um .um-members-pagi a:hover, .um .um-cover-add:hover, .um .um-profile-subnav a.active, .um .um-item-meta a, .um-account-name a:hover, .um-account-nav a.current, .um-account-side li a.current span.um-account-icon, .um-account-side li a.current:hover span.um-account-icon, .um-dropdown li a:hover, i.um-active-color, span.um-active-color {
    color: #ec5153;
}

/*region for single-league-template.php*/
.elementor-3191 .elementor-element.elementor-element-58d4ed4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.elementor-3191 .elementor-element.elementor-element-9df0f9c.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3191 .elementor-element.elementor-element-9df0f9c.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
}

.elementor-3191 .elementor-element.elementor-element-e6b8b91.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3191 .elementor-element.elementor-element-e6b8b91.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
}

.elementor-3191 .elementor-element.elementor-element-8b020c3.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3191 .elementor-element.elementor-element-8b020c3.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: flex-end;
}

.elementor-3191 .elementor-element.elementor-element-8793d97 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.elementor-3191 .elementor-element.elementor-element-b951835 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.elementor-3191 .elementor-element.elementor-element-4bfbb74 .premium-title-container {
    text-align: left;
}

.elementor-3191 .elementor-element.elementor-element-4bfbb74 > .elementor-widget-container {
    margin: 0px;
}

.elementor-3191 .elementor-element.elementor-element-28f9a09 .premium-title-container {
    text-align: left;
}

.elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress .tablepress th {
    text-align: center;
    background-color: #ce0606;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 1em 1em 1em 1em;
}

.elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress table.tablepress tr td {
    text-align: center;
}

.elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress .dataTables_length {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress .dataTables_filter {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress .dataTables_info {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress .dataTables_paginate {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress table.tablepress {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress .tablepress .sorting:hover, .elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress .tablepress .sorting_asc, .elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress .tablepress .sorting_desc {
    background-color: #000000;
}

.elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress .tablepress td {
    border-style: solid;
    border-width: 1px;
    padding: 0.5em 1em 0.5em 1em;
}

.elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress .tablepress .odd td {
    background-color: #000000;
    color: #ffffff;
    border-color: #ccc;
}

.elementor-3191 .elementor-element.elementor-element-64bfb39 .bdt-tablepress .tablepress .even td {
    background-color: #f7f7f7;
    border-color: #ccc;
}

.elementor-3191 .elementor-element.elementor-element-616ca1e .premium-title-container {
    text-align: left;
}

.elementor-3191 .elementor-element.elementor-element-616ca1e > .elementor-widget-container {
    margin: 10px 0px 10px 0px;
}

.elementor-3191 .elementor-element.elementor-element-6358968 .premium-title-container {
    text-align: left;
}

.elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress .tablepress th {
    text-align: center;
    background-color: #ce0606;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 1em 1em 1em 1em;
}

.elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress table.tablepress tr td {
    text-align: center;
}

.elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress .dataTables_length {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress .dataTables_filter {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress .dataTables_info {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress .dataTables_paginate {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress table.tablepress {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress .tablepress .sorting:hover, .elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress .tablepress .sorting_asc, .elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress .tablepress .sorting_desc {
    background-color: #000000;
}

.elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress .tablepress td {
    border-style: solid;
    border-width: 1px;
    padding: 0.5em 1em 0.5em 1em;
}

.elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress .tablepress .odd td {
    background-color: #000000;
    color: #ffffff;
    border-color: #ccc;
}

.elementor-3191 .elementor-element.elementor-element-fec1a1f .bdt-tablepress .tablepress .even td {
    background-color: #f7f7f7;
    border-color: #ccc;
}

.elementor-3191 .elementor-element.elementor-element-fa978a9 .premium-title-container {
    text-align: left;
}

.elementor-3191 .elementor-element.elementor-element-fa978a9 > .elementor-widget-container {
    margin: 10px 0px 10px 0px;
}

.elementor-3191 .elementor-element.elementor-element-4765835 .premium-title-container {
    text-align: left;
}

.elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress .tablepress th {
    text-align: center;
    background-color: #ce0606;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 1em 1em 1em 1em;
}

.elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress table.tablepress tr td {
    text-align: center;
}

.elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress .dataTables_length {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress .dataTables_filter {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress .dataTables_info {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress .dataTables_paginate {
    display: none;
}

.elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress table.tablepress {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress .tablepress .sorting:hover, .elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress .tablepress .sorting_asc, .elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress .tablepress .sorting_desc {
    background-color: #000000;
}

.elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress .tablepress td {
    border-style: solid;
    border-width: 1px;
    padding: 0.5em 1em 0.5em 1em;
}

.elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress .tablepress .odd td {
    background-color: #000000;
    color: #ffffff;
    border-color: #ccc;
}

.elementor-3191 .elementor-element.elementor-element-93f2345 .bdt-tablepress .tablepress .even td {
    background-color: #f7f7f7;
    border-color: #ccc;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}

.join-request{
    color: white;
    background-color: gray;
}
.join-request h3{
    font-size: 20px;
}
.join-request h4{
    font-size: 16px;
}
.disabled {
    pointer-events: none;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
    user-select: none;
}
.disabled *:focus { outline: 0; }

.blocker{
    z-index: 1001;
}


@media(min-width: 768px) {
    /*.elementor-3191 .elementor-element.elementor-element-5176ef8 {*/
        /*width:28.083%;*/
    /*}*/

    /*.elementor-3191 .elementor-element.elementor-element-9df0f9c {*/
        /*width: 21.917%;*/
    /*}*/
}
/*endregion single league page*/

@media (min-width: 768px) {
    .wrestler-content .elementor-element.elementor-element-9bdbc62 {
        width: 8.64%;
    }

    .wrestler-content .elementor-element.elementor-element-6b0be97 {
        width: 60.761%;
    }

    .wrestler-content .elementor-element.elementor-element-66ac016 {
        width: 42.719%;
    }

    .wrestler-content.elementor-col-33, .elementor-column[data-col="33"] {
        width: 33.333%;
    }

    .wrestler-content .elementor-element.elementor-element-36a6264 {
        width: 11.367%;
    }

    .wrestler-content .elementor-element.elementor-element-2e4b743 {
        width: 42.719%;
    }

    .wrestler-content .elementor-element.elementor-element-ffd6f1d {
        width: 11.367%;
    }

    .wrestler-content .elementor-element.elementor-element-28453de {
        width: 45.913%;
    }
}
.single-league-area{ padding: 100px 0;margin: 0 !important;}
.single-league-area .elementor-heading-title.elementor-size-xl{ 
    font-size: 18px !important;
    font-weight: 700 !important;
}

.single-league-area .elementor-widget-heading .elementor-heading-title{ font-size: 14px;}
.title-background{
    background: #ce0606;
    padding: 0;
    color: #fff;
    height: 75px !important;
}

.elementor-widget-wrap.background_title{margin-top: 10px;}
.single-league-area .elementor-button-wrapper{text-align: right;}
.custom-button{
    background: #000;
}
div.single-league-area .elementor-widget-container .team_name{
    font-size: 30px !important;
    font-weight: 700 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.single_team_area{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.elementor-row.whole_background{
    padding: 0;
    color: #fff;
    height: 10px !important;
}
.elementor-row.whole_background a.elementor-button-link.elementor-button.elementor-size-sm.accepted{
    background: #ce0606 !important;
}
.elementor-row.whole_background a.elementor-button-link.elementor-button.elementor-size-sm.rejected{
    background: #000 !important;
}
.elementor-row.whole_background h3.elementor-heading-title.elementor-size-xl.request_title{
    font-size: 18px !important;
    font-weight: 700 !important;
}
.section_margin{
    margin: 0 !important;
}
section.elementor-element.elementor-element-8793d97.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section.section_margin{
margin-top: 30px !important;
}
.section_margin .extra_title{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.section_margin .elementor-widget-wrap>.elementor-element{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.elementor-column-wrap.elementor-element-populated.joun_league_area {
    height: 120px !important;
    overflow: hidden;
}
.elementor-column-wrap.elementor-element-populated.joun_league_area .elementor-widget-wrap.background_title{
    height: 20px !important;
}

.elementor-column-wrap.elementor-element-populated.joun_league_area{
    background: #808080;
    height: 95px;
    background: url(https://lds.sos4digitalmarketing.com/wp-content/uploads/2019/03/black-background-2.png) no-repeat;
}
.joun_league_area section.join-request {
    height: 60px !important;
    margin: 0 auto;
    width: 86%;
    background: transparent !important;
}
.customer-join-request-area{ height: 30px !important;}

@media (max-width: 767px){
    .title-background,
    .elementor-row.whole_background{
        height: 100% !important;
    }
    section.join-request.customer-join-request-area {
        height: 50px !important;
    }
    .joun_league_area section.join-request {
        height: 190px !important;
        text-align: center !important;
    }
    .elementor-widget-wrap>.elementor-element,
    .single-league-area .elementor-button-wrapper {
        width: 100%;
        text-align: center !important;
    }
    .elementor-column-wrap.elementor-element-populated.joun_league_area {
        height: 100% !important;
        overflow: hidden;
    }
}